@charset "utf-8";
/* CSS Document */
body {
	/*background-color:#ad0101;*/
	/* everything basically*/
	padding:0px;
	background-color: #d9d9d6;
}
h2{
	font-weight: semi-bold;
	
}
small {
    text-color:#9d2235;
    color:#9d2235;
}
#poop{
	position: relative;
	background-color: #9d2235;
	
}

#tile {
	height: 40vh;  
	color:white; 
	line-height: 70vh;
}
h4 {
	font-size: 1.3em;
	font-weight: semi-bold;
	
}

#redd {
	
	background-color: #ad0101;
}
/* Large desktop */
@media (min-width: 1131px) {
	 #text {
	   padding-top:3%; 
	   padding-bottom: 2%;
	   height: 70vh;
	 }
	 #title {
	   font-size: 3.6em;
	 }
	 
	 #tagline {
	   font-size: 1.8em;
	 }
	 
	 p {
         font-size: 1.6em;
     }
     h2{
        font-size: 2.4em;
     }
    
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1130px) {
    #title {
        font-size: 3em;
    }
    #tagline {
       font-size: 1.4em;
     }
      p {
         font-size: 1.4em;
     }
     h2{
        font-size: 2em;
     }
     #text {
       padding-top:3%; 
       padding-bottom: 4%;
       height: 65vh;
     }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
 .nav-tabs.nav-justified > li {
        display: inline-block;
        float: left;
        margin-left: 100px;
      }
      #title {
        font-size: 2.4em;
      }
      #tagline {
       font-size: 1.2em;
     }
      p {
         font-size: 1.2em;
     }
     h2{
        font-size: 1.8em;
     }
     #text {
       padding-top:2%; 
       padding-bottom: 3%;
       height:60vh;
     }
      
}
/* Landscape phones and down */
@media (max-width: 480px) {
        #title {
            font-size: 1.8em;
        }
        #tagline {
       font-size: 1em;
     }
     #text {
       padding-top:2%; 
       padding-bottom: 3%;
       height: 70vh;
     }
        
       p {
         font-size: 1.2em;
     }  
     h2{
        font-size: 1.8em;
     }
}
/* Tiny Phones */
@media (max-width: 420px){
	
	   #title {
            font-size: 1.8em;
        }
        #tagline {
       font-size: 1em;
     }
     #text {
       padding-top:2%; 
       padding-bottom: 3%;
       height: 90vh;
     }
        
       p {
         font-size: 1.2em;
     }  
     h2{
        font-size: 1.8em;
     }
}

.container {
	
	padding-left: 0px;
	padding-right: 0px;
	/* everything but the background*/
}

footer{
  	background-color: #ecdc9e;	
	padding: 3%;
	
}
#middle {
	background-color: #FFF;	
	
	/* everything but the cover photo and footer inside the container*/
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
{
	color: #000;;
	background-color: #c0c0bc;/*#ecdc9e;
	/* this is the color of the pill you are on */
}
#mobi {
	
	font-color:black;
	color: black;
}
a
{
 	color: #A8A8A8;
	background-color: #d9d9d6;	
	
	/* color of the non-selected pills*/
}
.nav>li>a:hover {
	background-color: #c0c0bc;/* #ecdc9e;
	color:#000;
	/* this is the sidebar when you hover over*/
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color : #c0c0bc; /*#ecdc9e;
	/* this is the top nav bar when you hover over*/	
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
 .navbar-default .navbar-nav>.active>a:focus {
	 /*#ecdc9e;
	/* this is the top navbar active tab*/
}

#frontpage {
	
	height:95vh; 
	padding-top:1%; 
	position: relative;
}

#collapse 
{
	background-color: #d9d9d6; /* #f5fde8;
	/* this is the top navbar*/
	
	
}

#pic {
	background-color: black;
	
}
#text{
	background-color: #d9d9d6;
	
}
hr {
	border-top: 1px solid #c0c0bc;
}
.row {
	margin-right: 0; margin-left: 0;
}

#spanny {
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
}
#mobilenav {
	background-color: #c0c0bc;
	color: #c0c0bc;
}
#redline {
	background-color: #9d2235;
	padding-top:.25%; 
}
#fixedbutton {
	
	position: fixed;
	bottom: 70%;
	right:8%;
	height: 80px;
	width: 113px;
	z-index:50;
	
}

a:hover, a:focus 
{
	text-decoration:none;
	color: #A8A8A8;
	
	
}
#redd:hover, #redd:focus {
	
	opacity:.7;
}

.navbar {
	background-color: #d9d9d6;
	margin-bottom: 0px;
}
#altlink
 {
	color: #A8A8A8;
	 background-color:#ecdc9e; 
	 text-decoration:none;
}
#mobilebox {
	
	background-color: #9d2235;
}
.panel-default>.panel-heading
{
	
	background-color: #d9d9d6;	/*#f5fde8;
}
/* colors - #f5fde8 (lighter), #ad0101 (red), # ecdc9e (darker) */
